body{
	background-color: #FFE900;
}

#text{
	position: relative;
	margin-left: 25%;
	margin-right: 25%
}

.header1{
	position: relative;
	font-weight: bold;
	color: red;
}

.subheader1{
	margin-left: 5%;
}

#table1{
	background: linear-gradient(180deg, #0000FF, #FF0000); 
}